.App {
    height:100vh;
    background-color:#222;
    text-align: center;
}

.App-logo {
  float:left;
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 5vh;
  padding: 20px;
  color: white;
}

.App-title {
  float:left;
  padding-left:22px;
  font-size: 1.5em;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.grid-container{
    background:#444;
    height:82vh;
    width:92vw;
    overflow:hidden;
    margin:0 auto;
    padding:1% 3%;
    display:grid;
    grid-gap:1%;
    /*grid-template-rows:1fr;*/
    grid-template-columns:1fr 1fr 1fr 4fr 4fr;
}

.grid-element{
    background:#0ee;
    height:90%;
    /*padding:2%;*/
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
