.App {
  text-align: center;
}

.App-logo {
  float:left;
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  float:left;
  padding-left:22px;
  font-size: 1.5em;
}

.App-body {
  height: 100%; 
  overflow: hidden;
  background:#444;
  padding: 3em 0;
  margin: 0;
  position:fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.grid-container{
    background:#fff;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-element{
    background:#eee;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
