.div{

}

.container{
    background-color:#333;
    //box-shadow: 0 0 1px black;
    display:flex;
    flex-direction:column;
}

.knob{
    margin-left:auto;
    margin-right:auto;
    padding: 22px;
    transform:rotate(30deg)
}

.slider{
    margin-left:auto;
    margin-right:auto;
    width:100;
}

.rotaries{
    background-color:#111;
    //box-shadow: 0 0 1px black;
    display:flex;
    flex-direction:column;
    text-align:center; 
}

.sliders{
    background-color:#222;
    //box-shadow: 0 0 1px black;
    display:flex;
    flex-direction:column;
    text-align:center; 
    padding-top:auto;
    padding-bottom:auto;
    padding-left:auto;
}

.channel{
    background-color:#333;
    //box-shadow: 0 0 1px black;
    display:flex;
    flex-direction:column;
    text-align:center; 
    margin-left:auto;
    margin-right:auto;
}

.label{
    margin-left:auto;
    margin-right:auto;
    color:#fff;
    text-align:center;
}
